@model vpmc_backend.Models.LandSurveyDataSheet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>內容</title>
</head>
<body>

<div>
    <h4>土地現勘資料表</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssetType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandMarkCounty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandMarkCounty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandMarkVillage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandMarkVillage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandMarkName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandMarkName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandMarkCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandMarkCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildMarkCounty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildMarkCounty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildMarkVillage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildMarkVillage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildMarkName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildMarkName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildMarkCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildMarkCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildAddressCounty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildAddressCounty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildAddressVillage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildAddressVillage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandRightsOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandRightsOwner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandRightsStatus.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandRightsStatus.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandRightsHolding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandRightsHolding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OtherRights)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OtherRights)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandUses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandUses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingCoverageRatio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildingCoverageRatio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FloorAreaRatio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FloorAreaRatio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValueOpinionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValueOpinionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppraisalObjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppraisalObject.Object)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppraisalDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppraisalDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluationRightsTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EvaluationRightsType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppraisalCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppraisalCondition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TranscriptPath)
        </dt>
        <dd class="col-sm-10">
            <a href="@ViewBag.FilePath" download>@ViewBag.FilePath</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        @foreach (var item in ViewBag.ImageList)
        {
            <dd><img src="@item" alt="@item" width="30%" height="auto"></dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">編輯</a> |
    <a asp-action="Index">返回列表</a>
</div>
</body>
</html>
